body {
  background-color: rgb(184, 222, 179);
}

h1 {
  color: white;
  text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

p {
  color: rgb(51, 126, 70);
  font-family: monospace;
  font-size: larger;
}

#myarticle {
  text-align: right;
  padding: 30px;
}

div {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  background-color: darkgreen;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px 50px;
}

#myarticle {
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  background-color: #f1ffdd;
  margin: 80px;
}
